* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: #666 solid; /*debugging*/
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 15%;

    /*border: #666 solid; /*debugging*/
}

.header-upper {
    display: flex;
    justify-content: space-between;
    /*border: #666 solid; /*debugging*/
}

.header-upper-logo {
    color: #F9FAF8;
    font-size: 24px;font-weight: bolder;
    /*border: #666 solid; /*debugging*/
}

.header-upper-links {
    list-style-type: none;
    display: flex;
    justify-content: ;
    /*border: #666 solid; /*debugging*/
}

a#header-link {
    color: #f9faf8;
    list-style-type: none;
    padding-inline: 10px;
    text-decoration: none;
    /*border: #666 solid; /*debugging*/
    
}

.header-bottom {
    display: flex; 
    /*margin: 100px 0px 100px 0px;*/
    padding: 5% 0;
    /*border: #593ff0 solid; /*debugging*/;
    justify-content: space-between;
}

.header-bottom-left{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%;
    /*border: #999 solid; /*debugging*/
    
}

.header-bottom-left-text {
    color: #f9faf8;
    font-size: x-large;
    /*border: #666 solid; /*debugging*/   
}

.header-bottom-left-button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: large; font-weight: bold;
    border-radius: 6px;
    padding: 5px 15px;
    
}

.header-bottom-mid {
    display: flex;
    /*border: #2ea2a4 solid; /*debugging*/
    width: 10%;
}

.header-bottom-right {
    display: flex;
    /*flex: 1 1 auto;*/
    height: 300px;
    /*width: 50%;
    background-color:#666 ;*/
    /*border: #e60606 solid; /*debugging*/
    
}

.menu-container {
    /*border: #870c0c solid; /*debugging*/;
    display: flex; flex-direction: column; align-items: center;
    margin: 0 15%;
}

.info-menu {
    /*border: #870c0c solid; /*debugging*/;
    display: flex;flex-direction: row;flex-wrap: wrap; justify-content: center;
}

.info-menu-item {
    /*border: #0eae51 solid; /*debugging*/
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 45px;
}
.info-menu-item-upper {
    border: #3882f6 solid; /*debugging*/
    display: flex; 
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 30px;
}
p#menu-text{
    /*border: #f6a138 solid; /*debugging*/
    padding: 10px; font-size: larger; word-wrap: break-word;
    text-align: center;
    width: 200px;
}

.quote-container {
    /*border: #f6a138 solid; /*debugging*/
    display: flex; flex-direction: column;
    background-color: #e5e7eb;
    padding: 75px 25%;
    align-items: center;

}

p#quote-text {
    /*border: #f638d6 solid; /*debugging*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 36px;
    font-style:italic;
    color: #1f2937;
    
}

p#quote-signature{
    /*border: #38f6bd solid; /*debugging*/
    flex-wrap: wrap;
    align-self: flex-end;
    font-weight: bolder; font-size:x-large;    
 }

.footer-container {
    /*border: #3882f6 solid /*debugging*/;
    background-color: #1F2937;
    display: flex; flex-direction: column; align-items: center;
    padding: 30px 33%;
}

p#footer-text {
    color: #e5e7eb; font-size: medium; flex-wrap: wrap; text-align: center;
} 

.cta-container {
    /*border: #0e131c solid /*debugging*/;
    margin: 5% 15%;
    padding: 3%;
    background-color: #3882f6;
}

.cta-box {
    /*border: #be1e1e solid /*debugging*/;
    display: flex; flex-wrap: wrap;
    justify-content: space-evenly;
}
.cta-text-box {
    /*border: #a3be1e solid /*debugging*/;
}

p#cta-title {
    /*border: #20dd4c solid /*debugging*/;
    font-size: xx-large; font-weight: bolder; color: #F9FAF8;
}
p#cta-text {
    /*border: #a1f638 solid /*debugging*/;
    font-size: x-large; color: #F9FAF8;
}

.cta-button {
    background-color: #3882f6;
    border: #e5e7eb solid;
    color: #F9FAF8;
    font-size: large; font-weight: bold;
    border-radius: 12px;
    padding: 5px 15px;
    margin: 20px;
}