* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: #666 solid; /*debugging*/
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 120px;

    /*border: #666 solid; /*debugging*/
}

.header-upper {
    display: flex;
    justify-content: space-between;
    /*border: #666 solid; /*debugging*/
}

.header-upper-logo {
    color: #F9FAF8;
    font-size: 24px;
    /*border: #666 solid; /*debugging*/
}

.header-upper-links {
    list-style-type: none;
    display: flex;
    justify-content: ;
    /*border: #666 solid; /*debugging*/
}

a#header-link {
    color: #f9faf8;
    list-style-type: none;
    padding-inline: 10px;
    text-decoration: none;
    /*border: #666 solid; /*debugging*/
    
}

.header-bottom {
    display: flex; 
    justify-content: space-evenly;
    flex: 1 1 auto;
    margin: 100px 0px 100px 0px;
    /*border: #666 solid; /*debugging*/
    
}

.header-bottom-left{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 50%;
    
    /*border: #999 solid; /*debugging*/
    
}

.header-bottom-left-text {
    color: #f9faf8;
    font-size: larger;
    
    /*border: #666 solid; /*debugging*/   
}

.header-bottom-left-button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: large; font-weight: bold;
    border-radius: 6px;
    padding: 5px 15px;
    
}

.header-bottom-mid {
    display: flex;
    /*border: #666 solid; /*debugging*/
    width: 50px;
}

.header-bottom-right {
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    width: 50%;

    border: #111 solid; /*debugging*/
    
}

.menu-container{
    /*border: #870c0c solid; /*debugging*/
    display: flex; flex-direction: column; align-items: center;
    
}

.info-menu {
    display: flex;flex-direction: row;flex-wrap: wrap;
    
}

.info-menu-item {
    /*border: #0eae51 solid; /*debugging*/
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 45px;
}
.info-menu-item-upper {
    border: #3882f6 solid; /*debugging*/
    display: flex; 
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin: 30px;
}
p#menu-text{
    /*border: #f6a138 solid; /*debugging*/
    padding: 10px; font-size: larger; word-wrap: break-word;
    text-align: center;
    width: 200px;
}
